/*product card*/
.custom-img {
    height: 243px;
    object-fit: cover;
}

.custom-icon {
    width: 36px;
    height: 36px;
}

@media (min-width: 992px) {
    .custom-card {
        width: 282px;
        height: 347px;
    }
}

@media (max-width: 991px) {
    .custom-card {
        width: 100%;
        height: auto;
    }

    .custom-img {
        height: 200px;
    }
}
/* end of product card*/

/*catalog card*/
.custom-img {
    height: 243px;
    object-fit: cover;
}

.custom-icon {
    width: 36px;
    height: 36px;
}

.custom-btn {
    background-color: #0F6546;
    border: none;
}

.custom-btn:hover {
    background-color: #063725;
}

@media (min-width: 992px) {
    .custom-card {
        width: 282px;
        height: 400px;
    }
}

@media (max-width: 991px) {
    .custom-card {
        width: 100%;
        height: auto;
    }
    .custom-img {
        height: 220px;
    }
}
/* end of catalog card*/

/* footer */
.custom-footer {
    padding: 40px;
    min-height: 372px;
}

.social-icon {
    width: 36px;
    height: 36px;
}

@media (min-width: 768px) {
    .custom-footer {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (min-width: 992px) {
    .custom-footer {
        padding-left: 120px;
        padding-right: 120px;
    }
}

/*end of footer*/


/*edit of all cards*/
/* hero section*/
.hero-bg {
    background: url('../Images/hero\ section.jpg') center/cover no-repeat;
    height: 400px;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.20);
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.btn-hero:hover {
    background-color: #0F6546 !important;
    color: #fff !important;
    border: none;
}

/* end of hero section*/
/*sale section*/
.hero2 {
    background-image: url('../Images/Image.png');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
}

.hero2::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 12px;
}

.hero2 .container {
    position: relative;
    z-index: 2;
}

.time-box {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 6px 10px;
    margin-left: 6px;
    border-radius: 6px;
    font-weight: 600;
    min-width: 40px;
    text-align: center;
}

.button-hover:hover {
    color: white !important;
    background-color: #0F6546;
    border: none;
}

@media (max-width: 768px) {
    .hero2 h1 {
        font-size: 2rem !important;
    }

    .hero2 p {
        font-size: 0.95rem;
    }

    .time-box {
        padding: 5px 8px;
        font-size: 14px;
        min-width: 35px;
    }
}

/*end of sale section*/
/*stay in style*/
.hero3 input::placeholder {
    color: #aaa;
    font-size: 15px;
}

.hero3 input:focus {
    box-shadow: none;
}

@media (max-width: 576px) {
    .hero3 form {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }

    .hero3 .input-group {
        width: 100%;
        max-width: 100%;
    }

    .hero3 button {
        width: 70%;
        padding: 10px 0;
        font-size: 1rem;
        border-radius: 28px;
    }

    .hero3 h2 {
        font-size: 1.8rem;
    }

    .hero3 p {
        font-size: 0.95rem;
        line-height: 1.6;
    }
}

/*end of stay in style*/
/*end of edit of all cards*/