.custom-order-container {
    width: 740px;
    max-width: 95%;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.custom-details {
    max-width: 320px;
}

.custom-btn {
    background-color: #0f5132;
    border: none;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    background-color: #146c43;
}